*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --color-swatch-12: #00080D;
  --color-swatch-11: #20282D;
  --color-swatch-10: #3E464B;
  --color-swatch-9: #5A6267;
  --color-swatch-8: #747C81;
  --color-swatch-7: #8C9499;
  --color-swatch-6: #A2AAAF;
  --color-swatch-5: #B6BEC3;
  --color-swatch-4: #C8D0D5;
  --color-swatch-3: #D8E0E5;
  --color-swatch-2: #E6EEF3;
  --color-swatch-1: #F2FAFF;
  
  --color-green-3: #0C511F;
  --color-green-2: #25FC69;
  --color-green-1: #A0FBC3;

  --color-blue-3: #266772;
  --color-blue-2: #8DFDF7;
  --color-blue-1: #EFFFFE;
  

  /* High level variables */
  /* This ones have a specific task */

  /* Light mode */
  --lm-bg-level0-color: var(--color-swatch-2);
  --lm-bg-level1-color: var(--color-swatch-2);
  --lm-bg-level2-color: var(--color-swatch-3);
  
  --lm-body-color: var(--color-swatch-11);
  --lm-positive-color: var(--color-green-2);
  --lm-informative-color: var(--color-blue-1);

  /* Dark mode */
  --dm-bg-level0-color: var(--color-swatch-11);
  --dm-bg-level1-color: var(--color-swatch-11);
  --dm-bg-level2-color: var(--color-swatch-10);

  --dm-body-color: var(--color-swatch-2);
  --dm-positive-color: var(--color-green-2);
  --dm-informative-color: var(--color-blue-3);

  /* Spacing */
  --space-s: 8px;
  --space-m: 24px;
  --space-l: 40px;
}


@font-face {
  font-family: 'Brown';
  src: url('../fonts/Brown-Regular.eot');
  src: url('../fonts/Brown-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Brown-Regular.woff2') format('woff2'),
    url('../fonts/Brown-Regular.woff') format('woff'),
    url('../fonts/Brown-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Brown', sans-serif;
}

a {
  color: inherit;
}


body.light-mode {
  background-color: var(--lm-bg-level0-color);
  color: var(--lm-body-color);
}

body.dark-mode {
  background-color: var(--dm-bg-level0-color);
  color: var(--dm-body-color);
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
}

h2.Light-mode {
  /*color: var(--lm-positive-color);*/
}

h2.dark-mode {
  /*color: var(--dm-positive-color);*/
}

img {
  max-width: 100%;
}

.container {
  border: 1px solid red;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}

@media (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}

.colorSwatch12 { color: var(--color-swatch-12); }
.colorSwatch11 { color: var(--color-swatch-11); }
.colorSwatch10 { color: var(--color-swatch-10); }
.colorSwatch9 { color: var(--color-swatch-9); }
.colorSwatch8 { color: var(--color-swatch-8); }
.colorSwatch7 { color: var(--color-swatch-7); }
.colorSwatch6 { color: var(--color-swatch-6); }
.colorSwatch5 { color: var(--color-swatch-5); }
.colorSwatch4 { color: var(--color-swatch-4); }
.colorSwatch3 { color: var(--color-swatch-3); }
.colorSwatch2 { color: var(--color-swatch-2); }
.colorSwatch1 { color: var(--color-swatch-1); }

.bgColorSwatch12 { background-color: var(--color-swatch-12); }
.bgColorSwatch11 { background-color: var(--color-swatch-11); }
.bgColorSwatch10 { background-color: var(--color-swatch-10); }
.bgColorSwatch9 { background-color: var(--color-swatch-9); }
.bgColorSwatch8 { background-color: var(--color-swatch-8); }
.bgColorSwatch7 { background-color: var(--color-swatch-7); }
.bgColorSwatch6 { background-color: var(--color-swatch-6); }
.bgColorSwatch5 { background-color: var(--color-swatch-5); }
.bgColorSwatch4 { background-color: var(--color-swatch-4); }
.bgColorSwatch3 { background-color: var(--color-swatch-3); }
.bgColorSwatch2 { background-color: var(--color-swatch-2); }
.bgColorSwatch1 { background-color: var(--color-swatch-1); }

.project-details {
  margin: 0;
}

.project-image {
  margin-bottom: var(--space-m);
}

.project-wrapper {
  margin-bottom: var(--space-l);
}

.intro-section {
  background-color: var(--color-swatch-3);
  padding: 128px 0;
}

.header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.switchButton {
  background-color: none;
  border-radius: 4px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.2s;
}
.switchButton:focus {
  outline: none;
}

.dark-mode .switchButton {
  color: var(--dm-body-color);
  background-color: var(--dm-bg-level0-color);
  border-color:  var(--dm-body-color);
}
.dark-mode .switchButton:hover {
  background-color:  var(--dm-bg-level1-color);
}
.dark-mode .switchButton:active {
  background-color:  var(--dm-bg-level2-color);
}


.light-mode .switchButton {
  color: var(--lm-body-color);
  background-color: var(--lm-bg-level0-color);
    border-color:  var(--lm-body-color);
}
.Light-mode .switchButton:hover {
  background-color:  var(--lm-bg-level1-color);
}
.Light-mode .switchButton:active {
  background-color:  var(--lm-bg-level2-color);
  -webkit-box-shadow: none;
   box-shadow: none;
}





.main-section {
  padding: 16px;
}

.intro-text {
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
}

.colorBox {
  width: 640px;
  height: 40px;
}

.card {
  padding: 8px 0px;
  margin-top: 32px;
 
}

.dark-mode .card {
  border-top: 2px solid var(--dm-informative-color); 
  /*background-color: var(--dm-bg-level1-color);*/
}

.light-mode .card {
  border-top: 2px solid var(--lm-informative-color); 
  /*background-color: var(--lm-bg-level1-color);*/
}



.bottom-section {
  padding: 16px;

}


.social-section {
  display: flex;
  justify-content: flex-end;
}

.social-box {
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.social-icon-box {
  width: 24px;
}
.social-icon-image {
  width: 24px;
  color: red;
  fill: currentColor;
}

.social-icon-text {
  margin-left: 8px;
}


.social-icon-link {
  text-decoration: none;
}